@charset "UTF-8";

/* noto-sans-jp-300 - latin_japanese */
@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/noto-sans-jp-v28-latin_japanese-300.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans JP'), local('Noto Sans JP-Light '),
         url('fonts/noto-sans-jp-v28-latin_japanese-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/noto-sans-jp-v28-latin_japanese-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/noto-sans-jp-v28-latin_japanese-300.woff') format('woff'), /* Modern Browsers */
         url('fonts/noto-sans-jp-v28-latin_japanese-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/noto-sans-jp-v28-latin_japanese-300.svg#NotoSansJP') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-jp-regular - latin_japanese */
  @font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/noto-sans-jp-v28-latin_japanese-regular.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans JP'), local('Noto Sans JP-Regular'),
         url('fonts/noto-sans-jp-v28-latin_japanese-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/noto-sans-jp-v28-latin_japanese-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/noto-sans-jp-v28-latin_japanese-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/noto-sans-jp-v28-latin_japanese-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/noto-sans-jp-v28-latin_japanese-regular.svg#NotoSansJP') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-jp-700 - latin_japanese */
  @font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/noto-sans-jp-v28-latin_japanese-700.eot'); /* IE9 Compat Modes */
    src:  local('Noto Sans JP'), local('Noto Sans JP-Bold'),
         url('fonts/noto-sans-jp-v28-latin_japanese-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/noto-sans-jp-v28-latin_japanese-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/noto-sans-jp-v28-latin_japanese-700.woff') format('woff'), /* Modern Browsers */
         url('fonts/noto-sans-jp-v28-latin_japanese-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/noto-sans-jp-v28-latin_japanese-700.svg#NotoSansJP') format('svg'); /* Legacy iOS */
  }


html {
    font-family: 'Noto Sans JP', "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, sans-serif;

}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

body {
    margin: 0;
}

b,
strong {
    font-weight: bold;
}

img {
    border: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0px 0px 0px 0px;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    font-family: 'Noto Sans JP',
        'Hiragino Kaku Gothic ProN',
        "Hiragino Sans",
        sans-serif;
    color: #000;
    font-display: swap;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

a {
    -webkit-text-shadow: none;
    text-shadow: none;
    list-style-type: none;
    text-decoration: none;
    color: #000;
    background: transparent;
}

body {
    font-family: 'Noto Sans JP',
        'Hiragino Kaku Gothic ProN',
        "Hiragino Sans",
        sans-serif;
    font-weight: 400;
    background-repeat: repeat;
    line-height: 1.2em;
    color: #000;
    -webkit-text-shadow: 0 1px 0 #FFF;
    text-shadow: 01px 0 #FFF;
    line-height: 1;
}

#cs header {
    border-top: 10px solid #fff;
    margin-bottom: 0px;
}
