@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");

/* CSS Document */

#cs header {
    border-top: 0px;
    background-color: #fff;
    width: 100%;
    position: fixed;
    padding: 10px 0px 0px 0px;
    z-index: 1;
}

#cs home {
    margin-left: auto;
    margin-right: auto;
}

#home b {
    font-size: 100%;
    font-weight: 300;
    color: #535353;
    padding: 0px 0px 0px 20px;
}

#home p {
    font-size: 100%;
    font-weight: 300;
    float: right;
    padding: 0px 20px 0px 0px;
}

#cs header a {
    color: #666666;
}

#home s img {
    width: 306px;
    height: auto;
    padding: 30px 0px 0px 0px;
}

nav {
    margin-bottom: 5px;
    background: #FFF;
    padding: 45px 0px 0px 0px;
    position: relative;
}

#menu {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
}

#menu li {
    display: block;
    float: left;
    width: 20%;
    margin: 0;
    padding: 0;
    color: #000;
}

#menu li a {
    font-size: 120%;
    display: block;
    padding: 10px 0px 10px 0px;
    background-color: #FFF;
    text-align: center;
    text-decoration: none;
}

#menu li:last-child a {
    border: none;
}

#menu li a:hover {
    background: #FFF;
    font-size: 100%;
    color: #999;
}

#toggle {
    display: none;
}

.toggle_wrap {
    display: none;
  }

#box0 {
    min-height: 280px;
}


.photo s1 img {
    width: 280px;
    height: auto;
    padding: 30px 0px 0px 0px;
    text-align: center;
    position: relative;
}

h2 {
    font-size: 120%;
}

.inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 280px;
    height: 240px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    font-size: 80％;
    text-align: left;
    margin-top: 40px;
    list-style-type: none;
    padding: 10px 10px 15px 10px;
    background-color: #FFF;
}

footer s1 img {
    width: 30px;
    height: auto;
    padding: 0px 0px 0px 20px;
}

footer s2 img {
    width: 30px;
    height: auto;
    padding: 0px 10px 0px 10px;
}

footer s3 img {
    width: 30px;
    height: auto;
    padding: 0px 10px 0px 10px;
}

footer b {
    font-size: 90%;
    font-weight: 300;
    color: #595959;
    float: right;
    padding: 0px 30px 0px 0px;
}

#footer-mobile {
    display: none;
}



@media only screen and (max-width: 2000px) {

    #home {
        padding: 0px 10px 20px 10px;
    }

    #home b {
        font-size: 90%;
        padding: 0px 0px 0px 10px;
    }

    #home p {
        font-size: 90%;
        padding: 0px 10px 0px 0px;
    }

    #home s img {
        width: 245px;
        height: auto;
        padding: 10px 0px 25px 0px;
    }

    nav {
        padding: 20px 0px 0px 0px;
    }

    #menu li a {
        font-size: 100%;
    }

    #box0 {
        min-height: 240px;
    }

    .inner {
        width: 180px;
        height: 135px;
    }

    h2 {
        font-size: 115%;
    }

    p1 {
        font-size: 100%;
        font-weight: 400;
        line-height: 2em;
        padding: 20px 0px 0px 0px;
    }

    .photo s1 img {
        width: auto;
        height: 150px;
        padding: 0px 0px 40px 0px;
    }

}

@media only screen and (max-width: 768px) {

    #home {
        padding: 0px 0px 0px 0px;
    }

    #home b {
        font-size: 75%;
        padding: 0px 0px 0px 10px;
    }

    #home p {
        font-size: 75%;
        padding: 0px 10px 0px 0px;
    }

    #home s img {
        width: 214px;
        height: auto;
        padding: 10px 0px 20px 0px;
    }

    nav {
        padding: 0px 0px 20px 0px;
    }

    #menu li {
        width: 20%;
    }

    #menu li a {
        padding: 7px 0 7px;
    }

    #box0 {
        min-height: 160px;
    }

    .inner {
        width: 160px;
        height: 135px;
    }

    .photo s1 img {
        width: auto;
        height: 130px;
        padding: 0px 0px 30px 0px;
    }

    h2 {
        font-size: 100%;
    }

    p1 {
        font-size: 80%;
        font-weight: 400;
        line-height: 2em;
    }

}

@media only screen and (max-width: 480px) {

    #home {
        padding: 0px 0px 0px 0px;
    }

    #home b {
        font-size: 66%;
        padding: 0px 0px 0px 10px;
    }

    #home p {
        font-size: 65%;
        padding: 0px 10px -30px 0px;
    }

    #home s img {
        width: 183px;
        height: auto;
        padding: 0px 0px 0px 0px;
    }

    .toggle_wrap {
      display: block;
    }

    .toggle_switch {
      position: relative;
      cursor: pointer;
      padding: 5px 0px 0px 0px;
    }

    .toggle_switch::after {
      content: "";
      display: inline-block;
      width: 18px;
      height: 11px;
      background: no-repeat center center;
      background-size: contain;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      transition: transform .2s;
    }

    .toggle_switch.open::after {
      transform: rotateZ(180deg);
      top: 46%;
    }

    .toggle_contents {
      display: none;
      text-align: center;
      padding: 20px 0px 0px 0px;
    }

    #menu-box {
      display: none;
    }

    #box0 {
        min-height: 120px;
    }

    .inner {
        width: 133px;
        height: 100px;
    }

    h2 {
        font-size: 90%;
        padding: 15px 0px 15px 0px;
    }

    .toggle_switch h3 {
        font-size: 110%;
    }

    p1 {
        font-size: 80%;
        font-weight: 400;
        line-height: 1.8em;
    }

    .photo s1 img {
        width: auto;
        height: 110px;
        padding: 0px 0px 10px 0px;
    }

    #footer {
        margin-top: 0px;
        padding: 5px 0px 15px 0px;
    }

    footer s1 img {
        display: none;
    }

    footer s2 img {
        display: none;
    }

    footer s3 img {
        display: none;
    }

    footer b {
        display: none;
    }

    footer b1 {
        font-size: 7px;
        font-weight: 300;
        color: #999999;
        float: right;
        padding: 0px 0px 0px 0px;
        }

    #footer {
        height: 35px;
        padding: 0px 0px 0px 0px;
    }

    #footer-mobile {
        display: block;
        padding: 0px 10px 0px 10px;
    }

    #footer-mobile p {
        font-size: 100%;
        font-weight: 700;
        color: #bbb;
        padding: 0px 0px 0px 0px;
    }

    .js-modal__bg {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        display: none;
    }

    .js-modal__main {
        width: calc(100%);
        height: 80%;
        padding: 16px 0px 0px 0px;
        bottom: -81%;
        left: 0;
        background: #fff;
        border-radius: 4px 4px 0 0;
        position: fixed;
        z-index: 11;
        opacity: 0;
    }

    .js-modal__main a {
        padding: 0px 15px 0px 15px;
    }

    .js-modal__btn {
        color: #cccccc;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        padding: 10px 0px 0px 0px;
    }

    .js-modal__btn--close {
        margin-top: 10px;
        text-align: center;
        text-decoration: underline;
    }

    .js-modal__btn--close--fix {
        width: 30px;
        height: 30px;
        background: #333;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        right: 5px;
        z-index: 101;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .js-modal__btn--close--fix:before {
        content: "";
        width: 20px;
        height: 20px;
        border-right: 3px solid #cccccc;
        transform: rotate(-45deg);
        position: absolute;
        top: 12px;
        left: -3px;
    }

    .js-modal__btn--close--fix:after {
        content: "";
        width: 20px;
        height: 20px;
        border-right: 3px solid #cccccc;
        transform: rotate(45deg);
        position: absolute;
        top: -2px;
        left: -3px;
    }

    @keyframes SlideUp {
        0% {
            opacity: 0;
            transform: translateY(-1%);
        }

        100% {
            opacity: 1;
            transform: translateY(-30%);
        }
    }

    @keyframes SlideDown {
        0% {
            opacity: 1;
            transform: translateY(-30%);
        }

        100% {
            opacity: 0;
            transform: translateY(-1%);
        }
    }

    .js-modal__main._slideUp {
        animation: SlideUp .5s ease-in-out forwards;
    }

    .js-modal__main._slideDown {
        animation: SlideDown .5s ease-in-out forwards;
    }

}

@media only screen and (max-width: 320px) {

    #home s img {
        width: 153px;
        height: auto;
        padding: 5px 0px 0px 0px;
    }

    #menu li a {
        padding: 10px 0px 10px;
    }

    .inner {
        width: 120px;
        height: 75px;
    }

    h2 {
        font-size: 85%;
    }

    h3 {
        font-size: 95%;
    }

    p1 {
        font-size: 75%;
        font-weight: 400;
        line-height: 1.5em;
    }

    .photo s1 img {
        width: auto;
        height: 100px;
    }

}
