@charset "utf-8";

/* CSS Document */

< !-- #home {
    font-size: 100%;
    font-weight: 100;
    color: #000;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 25px 10px;
}

#home p {
    float: right;
}

#home s {
    padding: 30px 0px 25px 0px;
}

nav {
    margin-bottom: 5px;
    background: #FFF;
    padding: 30px 0px 0px 0px;
}

#menu {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
}

#menu li {
    display: block;
    float: left;
    width: 20%;
    margin: 0;
    padding: 0;
    color: #000;
}

#menu li a {
    display: block;
    padding: 10px 0 10px;
    background-color: #FFF;
    text-align: center;
    text-decoration: none;
}

#menu li:last-child a {
    border: none;
}

#menu li a:hover {
    background: #FFF;
    font-size: 100%;
    color: #999;
}

#toggle {
    display: none;
}

.photo s img {
    padding: 11px 0px 0px 0px;
}

.photo s1 img {
    width: auto;
    height: 250px;
    padding: 0px 0px 0px 0px;
    text-align: center;
}

.inner {
    left: 50%;
    position: absolute;
    top: 50%;
}

.content {
    border: 1px solid #fff;
    padding: 20px;
    transform: translate(-50%, -50%);
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    font-size: 80％;
    text-align: left;
    margin-top: 40px;
    list-style-type: none;
    padding-top: 5px;
    background-color: #FFF;
}

footer s2 img {
    width: auto;
    height: 30px;
    padding: 0px 0px 0px 10px;
}

footer s3 img {
    width: auto;
    height: 30px;
    padding: 0px 0px 0px 10px;
}

footer b {
    width: auto;
    height: 100px;
    float: right;
    padding: 0px 15px 0px 0px;
}


@media only screen and (max-width: 880px) {

    < !-- #home {
        font-size: 80%;
        font-weight: 100;
        color: #000;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 10px 25px 10px;
    }



    .photo s1 img {
        width: auto;
        height: 150px;
        padding: 0px 0px 0px 0px;
        text-align: center;
    }



    #footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 30px;
        font-size: 80％;
        text-align: left;
        margin-top: 40px;
        list-style-type: none;
        padding-top: 5px;
        background-color: #FFF;
    }

    footer s2 img {
        width: auto;
        height: 20px;
        padding: 0px 0px 0px 10px;
    }

    footer s3 img {
        width: auto;
        height: 20px;
        padding: 0px 0px 0px 10px;
    }

    footer b {
        width: auto;
        height: 18px;
        float: right;
        padding: 0px 15px 0px 0px;
    }

}

@media only screen and (max-width: 768px) {

    .photo s1 img {
        width: auto;
        height: 130px;
        padding: 0px 0px 0px 0px;
        text-align: center;
    }

    #menu li {
        width: 20%;
    }

}

@media only screen and (max-width: 480px) {

    #home {
        font-size: 60%;
        padding: 0px 10px 15px 10px;
    }

    #home b p {
        padding: 0px 5px 0px 5px;
    }

    #home s {
        padding: 5px 5px 0px 5px;
    }

    nav {
        padding: 0px 0px 0px 0px;
    }

    #menu {
        display: none;
    }

    #menu li {
        width: 100%;
    }

    #toggle {
        display: block;
        position: relative;
        width: 100%;
        background: #FFF;
    }

    #toggle a {
        padding: 0px 0 10px;
        font-weight: 300;
        font-size: 110%;
    }

    #toggle:before {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        left: 10px;
        width: 30px;
        height: 30px;
        margin-top: -15px;
        background: #FFF;
    }

    #toggle a:before,
    #toggle a:after {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        left: 10px;
        width: 30px;
        height: 6px;
        background: #FFF;
    }

    #toggle a:before {
        margin-top: -9px;
    }

    #toggle a:after {
        margin-top: 3px;
    }

    .photo s img {
        width: 55%;
        height: auto;
        padding: 5px 0px 0px 0px;
    }

    .photo s1 img {
        width: auto;
        height: 110px;
        padding: 0px 0px 0px 0px;
    }

    footer s2 img {
        padding: 0px 0px 0px 10px;
    }

    footer s3 img {
        padding: 0px 0px 0px 5px;
    }

    #footer b {
        float: right;
        padding: 1px 10px 0px 0px;
    }
}

@media only screen and (max-width: 320px) {

    .photo s1 img {
        width: auto;
        height: 100px;
        padding: 0px 0px 0px 0px;
    }
}
